#include <windows.h>
#include "resource.h"
IDI_MMVIEWER ICON "app.ico"
1 RT_MANIFEST "app.manifest"
2 RCDATA "../../vendor/md4c/LICENSE.md"
IDR_MERMAID_HTML RCDATA "../../vendor/mermaid/index.html"
IDR_MERMAID_JS RCDATA "../../vendor/mermaid/renderer.js"
IDR_MERMAID_LICENSE RCDATA "../../vendor/mermaid/THIRD_PARTY_NOTICES.txt"
IDR_WEBVIEW2_LICENSE RCDATA "../../vendor/webview2/LICENSE.txt"
IDR_WEBVIEW2_NOTICE RCDATA "../../vendor/webview2/NOTICE.txt"
1 VERSIONINFO
FILEVERSION 0,1,0,0
PRODUCTVERSION 0,1,0,0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "041104B0"
  BEGIN
   VALUE "FileDescription", "MMViewer - Native Markdown + Mermaid Viewer\0"
   VALUE "FileVersion", "0.1.0\0"
   VALUE "ProductName", "MMViewer\0"
  END
 END
 BLOCK "VarFileInfo"
 BEGIN
  VALUE "Translation", 0x411, 1200
 END
END
